<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904497427586-40reootv3aa9ljblo5d9re1bb5ilr8jg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904497427586-40reootv3aa9ljblo5d9re1bb5ilr8jg</string>
	<key>API_KEY</key>
	<string>AIzaSyB6P9cMJLz5MSzd-WWhPUqExNl70eVIRmo</string>
	<key>GCM_SENDER_ID</key>
	<string>904497427586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.protel_1</string>
	<key>PROJECT_ID</key>
	<string>waletku-4ad61</string>
	<key>STORAGE_BUCKET</key>
	<string>waletku-4ad61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904497427586:ios:09fc197808a4b8cd0d709b</string>
</dict>
</plist>